ul{
    float: right;
    list-style-type: none;
}
li{
    float: right;
    padding: 10px;
}
li img{
    margin-bottom: 10px;
}
#center-container img{
    width: 200px;
    height: auto;
}
#center-container{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}